<launch>
  <include file="$(find stdr_launchers)/launch/server_with_map.launch"/>
  <param name="robot_description" textfile="$(find dagny_sim)/dagny.urdf"/>

  <node pkg="stdr_robot" type="robot_handler" name="$(anon dagny_spawn)"
        args="add $(find dagny_sim)/dagny_stdr.yaml 1 1 0" />
</launch>
